{% extends 'parent/base.html' %}
{% load static %}
{% block content %}

{% if message %}
<script>
    alert("{{message}}")
</script>
{% endif %}

    <!-- Header Start -->
    <div class="container-fluid bg-primary px-0 px-md-5 mb-5">
      <div class="row align-items-center px-3">
        <div class="col-lg-6 text-center text-lg-left">
          <h4 class="text-white mb-4 mt-5 mt-lg-0">Kids Learning Center</h4>
          <h1 class="display-3 font-weight-bold text-white">
            New Approach to Kids Education
          </h1>
          <p class="text-white mb-4">
            This approach focuses on nurturing the whole child—mind, body, and spirit. It emphasizes not only academic development but also social, emotional, physical, and spiritual growth. Holistic education aims to cultivate well-rounded individuals who are capable of critical thinking, creativity, empathy, and resilience. It often integrates elements such as mindfulness, arts, outdoor experiences, and community engagement into the curriculum to support students' holistic development.
          </p>
          <!-- <a href="" class="btn btn-secondary mt-1 py-3 px-5">Learn More</a> -->
        </div>
        <div class="col-lg-6 text-center text-lg-right">
          <img class="img-fluid mt-5" src="{% static 'img/header.png' %}" alt="" />
        </div>
      </div>
    </div>
    <!-- Header End -->

    <!-- Facilities Start -->
    

    {% endblock %}