{% extends 'parent/base.html' %}
{% load static %}
{% block content %}

{% if message %}
<script>
    alert("{{message}}")
</script>
{% endif %}


<!-- Class Start -->
<div class="container-fluid pt-5">
    <div class="container">
      <div class="text-center pb-2">
        <p class="section-title px-5">
          <span class="px-2">Admission Page</span>
        </p>
        <h1 class="mb-4">Classes for Your Kids</h1>
      </div>
      <div class="row">
        {% for i in kidpro %}
        <div class="col-lg-4 mb-5">
          <div class="card border-0 bg-light shadow-sm pb-2">
            <img style="height: 200px; width: 300px;" class="card-img-top mb-2" src="{{i.child.image.url}}" alt="" />
            <div class="card-body text-center">
              <h4 class="card-title">{{i.child.name}}</h4>
              <p class="card-text">
                Admission to :- {{i.programme.name}}
              </p>
            </div>
            <div class="card-footer bg-transparent py-4 px-5">
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Age of Kid</strong>
                </div>
                <div class="col-6 py-1">{{i.child.age}}Years</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Status</strong>
                </div>
                <div class="col-6 py-1">{{i.status}}</div>
              </div>
              <!-- <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Class Time</strong>
                </div>
                <div class="col-6 py-1">{{i.duration}}</div>
              </div> -->
              <!-- <div class="row">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Tution Fee</strong>
                </div>
                <div class="col-6 py-1">{{i.fees}} / Month</div>
              </div> -->
            </div>
            <!-- <a href="Admission?id={{i.id}}" class="btn btn-primary px-4 mx-auto mb-4">Join Now</a> -->
          </div>
          
        </div>
        {% endfor %}
        
        
        
      </div>
    </div>
  </div>
  <!-- Class End -->

  {% endblock %}