{% extends 'admin/base.html' %}
{% load static %}
{% block content %}

{% if message %}
<script>
    alert("{{message}}")
</script>
{% endif %}

<!-- Registration Start -->
<div class="container-fluid py-5">
    <div class="container">
        
      <div class="row align-items-center">
        <div class="col-lg-7 mb-5 mb-lg-0">
            
          <!-- <p class="section-title pr-5">
            <span class="pr-2">Book A Seat</span>
          </p> -->
         
          <!-- <h1 class="mb-4">Book A Seat For Your Kid</h1> -->
          <p>
            <!-- KidKinder Preschool  with its remarkable 21-year legacy and a network of 1400+ schools across 3 countries, stands out as a leading choice for parents seeking a PlayGroup, Nursery and Kindergarten program that provides an exceptional and comprehensive foundation for your little ones. EuroKids prioritizes a child-centric approach to education, recognizing the crucial role of early years in development. -->

          </p>
          <div class="col-lg-12 text-center text-lg-left">
            <img class="img-fluid mt-5" src="{% static 'img/header.png' %}" alt="" />
          </div>
          <!-- <ul class="list-inline m-0">
            <li class="py-2">
              <i class="fa fa-check text-success mr-3"></i>Explore Programs: Find the best fit for your child's age and needs.
            </li>
            <li class="py-2">
              <i class="fa fa-check text-success mr-3"></i>Meet Admissions: Get enrollment details and forms.
              amet ipsum
            </li>
            <li class="py-2">
              <i class="fa fa-check text-success mr-3"></i>Secure Your Seat: Complete enrollment forms to join our community.
              
            </li>
          </ul> -->
          <!-- <a href="" class="btn btn-primary mt-4 py-2 px-4">Book Now</a> -->
        </div>
        <div class="col-lg-5">
          <div class="card border-0">
            <div class="card-header bg-secondary text-center p-4">
              <h1 class="text-white m-0">Add Faculties</h1>
            </div>
            <div class="card-body rounded-bottom bg-primary p-5">
              <form action="" method="post">
                {% csrf_token %}

                <div class="form-group">
                  <input
                    type="text" name="name"
                    class="form-control border-0 p-4"
                    placeholder="Faculty Name"
                    required="required" onfocus="this.placeholder = ''" onblur="this.placeholder = ''" autocomplete="off" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" required
                  />
                </div>
                
                <div class="form-group">
                  <input
                    type="email" name="email"
                    class="form-control border-0 p-4"
                    placeholder="Faculty Email Address"
                    required="required" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text" name="phone"
                    class="form-control border-0 p-4"
                    placeholder="Faculty Contact Number"
                    required="required" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contact Number'" pattern="[6-9]{1}[0-9]{9}" title="Enter 10 digit number"required
                  />
                </div>
                <div class="form-group">
                    <input
                      type="text" name="experience"
                      class="form-control border-0 p-4"
                      placeholder="Faculty Experience"
                    />
                  </div>
                <div class="form-group">
                  <input
                    type="text" name="qualification"
                    class="form-control border-0 p-4"
                    placeholder="Faculty Qualification"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="password" name="password"
                    class="form-control border-0 p-4"
                    placeholder="Create a Password"
                    required="required" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" pattern = "[0-9]).{1,}[a-z]).{1,}[A-Z]).{8,}" title="Eight or more characters" required
                  />
                </div>
                <!-- <div class="form-group">
                  <select
                    class="custom-select border-0 px-4"
                    style="height: 47px"
                  >
                    <option selected>Select A Class</option>
                    <option value="1">Class 1</option>
                    <option value="2">Class 1</option>
                    <option value="3">Class 1</option>
                  </select>
                </div> -->
                <div>
                  <button
                    class="btn btn-secondary btn-block border-0 py-3"
                    type="submit"
                  >
                    Register Here
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Registration End -->


  {% endblock %}