{% extends 'admin/base.html' %}
{% load static %}
{% block content %}

{% if message %}
<script>
    alert("{{message}}")
</script>
{% endif %}

    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 400px"
      >
        <h3 class="display-3 font-weight-bold text-white">Edit Admission Programmes</h3>
        <div class="d-inline-flex text-white">
          <p class="m-0"><a class="text-white" href="">Home</a></p>
          <p class="m-0 px-2">/</p>
          <p class="m-0">Edit Programmes</p>
        </div>
      </div>
    </div>
    <!-- Header End -->

    <!-- Contact Start -->
    <div class="container-fluid pt-5">
      <div class="container">
        <div class="text-center pb-2">
          <!-- <p class="section-title px-5">
            <span class="px-2">Get In Touch</span>
          </p> -->
          
          <h1 class="mb-4">Admission Programmes</h1><p class="section-title px-5"></p>
        </div>
        <div class="row">
          <div class="col-lg-7 mb-5">
            <div class="contact-form">
              <div id="success"></div>
              <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="control-group">
                  <input
                  value="{{upd.name}}"
                    type="text"
                    class="form-control"
                    id="name" name="name"
                    placeholder="Programme Name"/>
                  <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                  <input
                  value="{{upd.agegroup}}"
                    type="text"
                    class="form-control"
                    id="agegroup"
                    name="agegroup"
                    placeholder="Age Group"/>
                  <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                  <input
                  value="{{upd.duration}}"
                    type="text"
                    class="form-control"
                    id="duration" 
                    name="duration"
                    placeholder="Duration of the Course"/>
                    
                  
                  <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                    <input
                    value="{{upd.fees}}"
                      type="text"
                      class="form-control"
                      id="fees" 
                      name="fees"
                      placeholder="Fees for the Course"/>
                      
                    
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="control-group">
                    <input
                      type="file"
                      class="form-control"
                      id="image" 
                      name="image"
                      placeholder="Duration of the Course"/>
                      
                    
                    <p class="help-block text-danger"></p>
                  </div>
                <div class="control-group">
                  <textarea
                    class="form-control"
                    rows="6"
                    id="desc" 
                    name="desc"
                    placeholder="Description about The Programme"
                    
                  >{{upd.description}}</textarea>
                  <p class="help-block text-danger"></p>
                </div>
                <div>
                  <button
                    class="btn btn-primary py-2 px-4"
                    type="submit"
                    id="sendMessageButton"
                  >
                    Update
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-5 mb-5">
            <!-- <p>
              Labore sea amet kasd diam justo amet ut vero justo. Ipsum ut et
              kasd duo sit, ipsum sea et erat est dolore, magna ipsum et magna
              elitr. Accusam accusam lorem magna, eos et sed eirmod dolor est
              eirmod eirmod amet.
            </p> -->
            <div class="d-flex">
              <!-- <i
                class="fa fa-map-marker-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
                style="width: 45px; height: 45px"
              ></i> -->
              <div class="pl-3">
                <!-- <h5>Address</h5>
                <p>123 Street, New York, USA</p> -->
              </div>
            </div>
            <div class="d-flex">
              <!-- <i
                class="fa fa-envelope d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
                style="width: 45px; height: 45px"
              ></i> -->
              <div class="pl-3">
                <!-- <h5>Email</h5>
                <p>info@example.com</p> -->
              </div>
            </div>
            <div class="d-flex">
              <!-- <i
                class="fa fa-phone-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
                style="width: 45px; height: 45px"
              ></i> -->
              <div class="pl-3">
                <!-- <h5>Phone</h5>
                <p>+012 345 67890</p> -->
              </div>
            </div>
            <div class="d-flex">
              <!-- <i
                class="far fa-clock d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
                style="width fa-clock d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
                style="width: 45px; height: 45px"
              ></i> -->
              <div class="pl-3">
                <!-- <h5>Opening Hours</h5>
                <strong>Sunday - Friday:</strong>
                <p class="m-0">08:00 AM - 05:00 PM</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact End -->
{% endblock %}