


{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

<div class="banner_area1 clearfix">
    <!-- <div class="slider_overlay_area slider_height"> -->
        <div class="container slider_height">
            <!-- <div class="row slider_height"> -->
                <!-- <div class="col-md-5 offset-md-7 slider_height"> -->
                    <div class="banner-delivery-form">
                        <div class="form-header text-center">
                            <h2>View Prograammes</h2>
                        </div>
                 
		
			<div class="container">
								<!-- </div>
								</div>
								</div> -->
				          </div>
								</div>
							</div>
							<div class="row no-gutters">
								<div class="col-md-12">
									<div class="contact-wrap w-100 p-md-5 p-4">
										<h3 class="mb-4">Programme Lists</h3>

		<div class="card">
			<div class="card-content collapse show">
				<div class="table-responsive">
					<table class="table table-bordered mb-0">
						<thead>
							<tr>
                                <th>Name Of Programme</th>
								<th>Duration</th>
								<th>Age Group</th>
                                <th>Fees</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for i in view_programmes %} 
								<td> <img style="height: 100px; width: 100px;" src="/media/{{i.image}}"><br>{{i.name}} </td>			 			
								<!-- <td>{{i.name}}</td> -->
                                <td>{{i.duration}} hours / day</td>
                                <td>{{i.agegroup}} years</td>
                                <td>{{i.fees}} / Month</td>
                                <!-- <td>{{i.name}}</td> -->
                                <!-- <td><a href="KidsProfileDetails?id={{i.id}}"><button class="btn-info">Edit</button></a> -->
                                   <td><a style="margin-left: 20px;" href="editprog?id={{i.id}}"><button class="btn btn-success">Edit</button></a>
									<a href="Removeprog?id={{ i.id}}"><button class=" btn btn-danger">Remove</button></a></td>

                                </td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
										
									</div>
								</div>
								
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>

    
	{% endblock %}

  